{:paths ["src" "resources" "classes"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.5"}

  ;; Transit serialization
  com.cognitect/transit-clj {:mvn/version "1.1.357"}

  ;; JSON canonicalization (RFC 8785)
  io.github.erdtman/java-json-canonicalization {:mvn/version "1.1"}

  ;; Compression (determinism under investigation)
  com.github.luben/zstd-jni {:mvn/version "1.5.7-9"}}

 :aliases
 {:dev
  {:extra-paths ["test"]
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.3"}
    com.gfredericks/test.chuck {:mvn/version "0.2.15"}
    criterium/criterium {:mvn/version "0.4.6"}}}

  :test
  {:main-opts ["-m" "kaocha.runner"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  ;; AOT compile gen-class namespaces
  :aot
  {:main-opts ["-e" "(compile 'com.latacora.transit-canon.impl.raw-emitter)"]}}}
