#kaocha/v1
{:tests [{:id :unit
          :kaocha.filter/skip-meta #profile {:default [:generative]
                                             :generative [:kaocha/skip]
                                             :all [:kaocha/skip]}
          :kaocha.filter/focus-meta #profile {:default []
                                              :generative [:generative]
                                              :all []}}]}
